/* Global */
body {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
}

.emphasized-text {
    color: #004aad;
}

.section-subtitle {
    color: #004aad;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004aad;
    padding: 20px;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title {
    color: #fd3131;
    margin: 0;
    padding: 0;
}

#subtitle {
    color: #ffcf01;
    margin: 0;
    padding: 0;
    /* font-size: 1rem; */
}

#menu-toggle {
    color: #fff;
    font-size: 35px;
    cursor: pointer;
}

/* Welcome to the PCSV! */
.welcome {
    border-bottom: 2px dotted #004aad;
    padding: 40px 20px;
}

.welcome-content {
    max-width: 900px;
    margin: 0 auto;
}

.welcome .section-title {
    text-align: center;
    margin-bottom: 20px;
}

.welcome p {
    max-width: 800px;
    margin: 0 auto 15px auto;
    padding: 0 10px;
    text-align: justify;
}

/* Using PCSV */
.using-pcsv {
    border-bottom: 2px dotted #004aad;
    padding: 40px 20px;
    margin-bottom: 20px;
}

.using-pcsv-content {
    max-width: 900px;
    margin: 0 auto;
}

.using-pcsv .section-title {
    text-align: center;
    margin-bottom: 20px;
}

.using-pcsv p {
    max-width: 800px;
    margin: 0 auto 15px auto;
    padding: 0 10px;
    text-align: justify;
}

#map {
    height: 400px;
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
    border: 2px solid #004aad;
    border-radius: 5px;
}

/* Guide and Troubleshooting */
.guide-and-troubleshooting {
    border-bottom: 2px dotted #004aad;
    padding: 40px 20px;
    margin-bottom: 20px;
}

.guide-and-troubleshooting-content {
    max-width: 900px;
    margin: 0 auto;
}

.guide-and-troubleshooting .section-title
{
    text-align: center;
    margin-bottom: 20px;
}

.guide-and-troubleshooting .section-subtitle {
    margin: 0 auto 15px auto;
    padding: 0 10px;
    text-align: justify;
}

.guide-and-troubleshooting p {
    max-width: 800px;
    margin: 0 auto 15px auto;
    padding: 0 10px;
    text-align: justify;
}

/* Footer */
.footer {
    font-style: italic;
}

.footer-content {
    max-width: 900px;
    margin: 0 auto;
}

.footer p {
    max-width: 800px;
    margin: 0 auto 15px auto;
    padding: 0 10px;
    text-align: center;
    font-size: 13px;
}